@import "tailwindcss";

html {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

.rotate:hover {
  transform: rotate(360deg);
  transition: 2s;
}

.animate-bounce-in {
  animation: bounce-in 1s ease-out 0.6s both;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.text-stroke {
  -webkit-text-stroke: 6px rgba(255, 255, 255, 0.281);
  /* Adjust thickness and color */
  color: black;
  /* Makes fill transparent if you want only the stroke */
}

/* Parallax fixes */
.parallax-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}

.parallax-element {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
}

.auto-show {
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 10% cover 100vh;
}

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.imageReveal {
  animation: imageReveal both;
  animation-timeline: view(10% 5%);
}

@keyframes imageReveal {
  from {
    filter: saturate(0) contrast(4) brightness(.1) blur(5px);
    opacity: 0;
    scale: .95;
    translate: 0 4rem;
  }

  to {
    filter: none;
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
}

.floating {
  transform: translate(0px);
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Loading animations */
@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #f3f4f6 4%, #e5e7eb 25%, #f3f4f6 36%);
  background-size: 1000px 100%;
}